/* Variables */

@nutrigreen: #ACBF17;
@nutrismoke: #2D3540;
@nutriwhite: #FFF;
@secondarygreen: #736B02;
@secondarygold: #F2B705;
@secondaryinfo: #BF9169;

/* Fonts */
/* The Afrah font is used for main page headings (H1) */
@font-face {
    font-family: 'afrah';
    src: url('fonts/afrah/Afrah-Regular.eot');
    src: url('fonts/afrah/Afrah-Regular.ttf') format('truetype'),
        url('fonts/afrah/Afrah-Regular.woff') format('woff'),
        url('fonts/afrah/Afrah-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* The Telegraf font is used for sub-headings (H2) */
@font-face {
    font-family: 'telegraf';
    src: url('fonts/telegraf/PPTelegraf-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

/* Reset Styles */

* {
    border:0;
    padding: 0;
    margin: 0;
}

/* Body Styles */

#reviews {
    background-color: @secondarygreen;
}

/* Header Styles */

header {
    height: 100px;
    width: 100%;
}

/* Main Styles */

/* - Section 1 */

section h1 {
    color: @nutriwhite;
    text-align: center;
    font-size: 5em;
    font-family: afrah;
}



